/* src/components/SearchBar/SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px; /* Dodane marginesy */
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Dodana stała szerokość */
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
